<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

   xmlns:gap   = "http://phonegap.com/ns/1.0"
   id          = "com.phonegap.example"
   version     = "1.0.0"
   versionCode = "10" >

   <!-- versionCode is optional and Android only -->

   <preference name="phonegap-version" value="3.1.0" />

   <!-- Apple device targeting -->
   <preference name="target-device" value="universal" />

   <!-- Full Screen -->
   <preference name="fullscreen" value="true" />

   <name>Scrapbook App</name>

   <description>
     My scrapbook app
   </description>

   <author href="http://mhowey.com" email="meh2@pct.edu">
      Marie Howey
   </author>

   <!-- Splash Screen -->
   <gap:splash src="images/splash.png" gap:platform="ios" width="320" height="480" />
   <gap:splash src="images/splash.png" gap:platform="ios" width="640" height="960" />
   <gap:splash src="images/splash.png" gap:platform="ios" width="640" height="1136" />
   <gap:splash src="images/splash.png" gap:platform="ios" width="1024" height="748" />
   <gap:splash src="images/splash.png" gap:platform="ios" width="768" height="1004" />
   <!-- retina iPad support: PhoneGap 2.5.0+ only -->
   <gap:splash src="images/splash.png" gap:platform="ios" width="2048" height="1496" />
   <gap:splash src="images/splash.png" gap:platform="ios" width="1536" height="2008" />

	<!--Camera Plugin-->
	<gap:plugin name="org.apache.cordova.camera" version="0.2.4" />
	
</widget>
